@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
  font-family: "noto sans";
}

.material-symbols-rounded.filled {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #252627;
}

::-webkit-scrollbar-thumb {
  background: #44cbca;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7aa2f7;
}

.outline {
  outline: 4px solid rgba(0, 255, 0, 0.3);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
